/*font styles
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

/*general rules starts*/
.container {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.btn-style {
  transition: 0.4;
}
.btn-style:hover {
  transform: scale(1.2);
}

.container a,
.container button {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.suite-link {
  color: black;
}
.suite-link:hover {
  color: blue;
}
/*general rules ends*/

@media only screen and (max-width: 600px) {
  /*business solution starts*/
  .business-heading {
    font-size: 70px;
  }
  .btn-style {
    background-color: darkblue;
    color: white;
  }
  .bold {
    font-weight: 900;
  }

  /*business solution ends*/

  /*review section starts*/
  .review {
    background-color: #172339;
    height: 100vh;
    position: relative;
  }

  .img-group {
    display: flex;
    flex-direction: column;
  }
  .man-img {
    height: 300px;
    width: 150px;
    position: absolute;
    top: -40px;
    margin-left: 120px;
  }
  .pattern {
    margin: 230px auto 0 auto;
    height: 40px;
    width: 30px;
  }
  .space {
    letter-spacing: 5px;
  }
  /*review section ends*/
}

@media only screen and (min-width: 600px) {
  /*business solution starts*/
  .solution {
    height: 70vh;
    position: relative;
  }
  .solution p {
    width: 300px;
  }

  .solution-details {
    padding-left: 250px;
  }
  .mobile {
    position: absolute;
    left: 420px;
    z-index: -1;
  }
  .business-heading {
    font-size: 70px;
  }
  .btn-style {
    background-color: darkblue;
    color: white;
  }
  .bold {
    font-weight: 900;
  }

  /*business solution ends*/

  /*review section starts*/
  .review {
    background-color: #172339;
    position: relative;
    height: 60vh;
  }
  .review-heading {
    font-size: 80px;
  }
  .man-img {
    position: absolute;
    bottom: 95px;
    left: 55px;
  }

  .pattern {
    color: white;
    position: absolute;
    left: 450px;
    top: 180px;
  }
  .space {
    letter-spacing: 5px;
  }
  /*review section ends*/

  /*footer starts*/
  .footer {
    position: relative;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0;
  }

  .suite {
    z-index: -1;
    position: absolute;
    background: #f3ede7;
    height: 20vh;
    width: 160vh;
    left: -85px;
    top: -90px;
    padding-bottom: 30px;
  }

  .copyright {
  }
  /*footer ends*/
}
